[flake8]
max-line-length = 88

# jaraco/skeleton#34
max-complexity = 10

extend-ignore =
	# Black creates whitespace before colon
	E203
exclude =
	# Exclude the entire top-level __init__.py file since its only purpose is
	# to expose the version string and to handle Python 2/3 compatibility.
	importlib_resources/__init__.py
